# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
.venv/
venv/
env/

# Environment
.env

# VS Code
.vscode/

# Python cache
.pytest_cache/
.mypy_cache/

# Uploads & Outputs
app/uploads/*
app/outputs/*

# Keep empty folders
!app/uploads/.gitkeep
!app/outputs/.gitkeep

# React
frontend/node_modules/
frontend/dist/